<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	<!-- inject:css -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- endinject -->
  </head>
  <body>
    {{{body}}}
	<!-- inject:js -->
	<script src="/js/main.js"></script>
	<script src="/js/react.js"></script>
	<!-- endinject -->
  </body>
</html>
